*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #000;
    --clr-secondary: #c6a067;
    --clr-light-bg: #f1f1f1;
    --clr-light-gray: #b2b2b2;
    --clr-dark-gray: #455560;
}

/* Typography */
h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 0.8em;
}

ul {
    margin-left: 1em;
}

li {
    margin-bottom: 0.3em;
    max-width: 30em;
}

h2 {
    font-size: 1.65rem;
}

h3 {
    font-size: 1.45rem;
    color: var(--clr-secondary);
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
    color: var(--clr-dark-gray);
    font-weight: normal;
    font-style: italic;
    margin-top: -0.55em;
}

p,
span,
li {
    line-height: 1.5;
}

/* General Settings */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: var(--clr-primary);
    padding: 1.5em 1em;
}

img {
    max-width: 100%;
    object-fit: contain;
    filter: brightness(1.2);
}

svg {
    width: 100%;
    max-width: 25px;
    aspect-ratio: 1 / 1;
}

abbr:hover {
    cursor: default;
}

footer {
    margin-top: 1.5em;
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

/* Specific Settings */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Header Section */
.header {
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
}

.header-img {
    width: 50%;
    min-width: 110px;
    max-width: 120px;
}

.header-text {
    margin-left: 1em;
}

.header-text p {
    font-size: 1.25rem;
    color: var(--clr-dark-gray);
}

/* Info Section */
.info {
    background-color: var(--clr-light-bg);
    margin-top: 1em;
    margin-bottom: 0.25em;
    padding: 1em;
}

.personal {
    margin-bottom: 1.75em;
}

.info p {
    display: flex;
    align-items: center;
    column-gap: 8.5px;
}

.personal .linkedin,
.info .address {
    align-items: flex-start;
}

/* Secondary Container */
.secondary-container {
    padding-left: 1em;
    padding-right: 1em;
}

.education,
.projects,
.achievement,
.certification,
.tech {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 0.5px solid var(--clr-light-gray);
}

.projects {
    padding-bottom: 0.7em;
}

.achievement,
.certification {
    padding-bottom: 1.3em;
}

.project {
    margin-bottom: 1.1em;
}

.personal-project {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 0.3em;
}

.personal-project h4 {
    margin-bottom: 0;
}

.tech-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 0.7em;
}

.tech-list {
    background-color: var(--clr-secondary);
    color: #ffffff;
    font-weight: bold;
    padding: 0.3em 0.7em;
    border-radius: 7px;
}

/* Media Queries */
@media screen and (min-width: 700px) {
    :root {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 820px) {
    :root {
        font-size: 1.15rem;
    }

    .container {
        padding-top: 1.75em;
        padding-bottom: 1.75em;
    }

    .header {
        margin-left: 1.75em;
        margin-right: 1.75em;
    }

    .info {
        padding-left: 1.75em;
        padding-right: 1.75em;
    }

    .secondary-container {
        padding-left: 1.75em;
        padding-right: 1.75em;
    }
}

@media screen and (min-width: 1150px) {
    .info {
        display: flex;
        gap: 25px;
    }

    .personal {
        margin-bottom: 0;
    }

    .contact {
        flex: 1.1;
    }

    .secondary-container {
        display: flex;
        column-gap: 40px;
    }

    .secondary-container-first {
        flex: 1.3;
    }

    .secondary-container-second {
        flex: 1;
    }
}

@media screen and (min-width: 1300px) {
    :root {
        font-size: 1.2rem;
    }

    .container {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .header {
        margin-left: 2em;
        margin-right: 2em;
    }

    .info {
        padding-left: 2em;
        padding-right: 2em;
    }

    .secondary-container {
        padding-left: 2em;
        padding-right: 2em;
    }

    .header-img {
        max-width: 140px;
    }
}
